@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: "reg";
    src: url("../fonts/Tajawal-Medium.ttf") format("opentype");
}

*:not(i) {
    font-family: "reg" !important;
}