@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: "reg";
    /* src: url("../fonts/Tajawal-Medium.ttf") format("opentype"); */
    src: url("../fonts/Almarai/Almarai-Regular.ttf") format("opentype");
    size-adjust: 105%;
}

*:not(i) {
    font-family: "reg" !important;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}

/* Fix vue-search-select dropdown z-index */
.vue-search-select .dropdown {
    z-index: 99999 !important;
    position: fixed !important;
}

.vue-search-select .dropdown .menu {
    z-index: 99999 !important;
    position: fixed !important;
}

.vue-search-select .dropdown-menu {
    z-index: 99999 !important;
    position: fixed !important;
}